<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>状态模式管理demo</title>
</head>
<body>
  <div id="app">
    <tpl></tpl>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
  <script>
    Vue.component('tpl', {
       //state
      data () {
        return {
          count: 0
        }
      },
       //view
      template:`
        <div>{{count}}  <button @click="increment">Add</button></div>
      `,
      //actions
      methods: {
        increment () {
          this.count++
        }
      }
    })
  </script>
  <script>
    new Vue({
      el: '#app'
    }) 
  </script>
</body>
</html>