<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{ count }}</p>
    <p>
      <button @click="increment">+</button>
      <button @click="decrement">-</button>
    </p>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
  <script>
  const store = new Vuex.Store({
    state: {
      count:0
    },
    mutations: {
      increment: state => state.count++,
      decrement: state => state.count --
    }
  })
  const vm = new Vue({
    el: '#app',
    computed:{
      count () {
        return store.state.count
      }
    },
    methods: {
      increment () {
        store.commit('increment')
      },
      decrement () {
        store.commit('decrement')
      }
    }
  })
  </script>
  <!-- 
   我们通过提交 mutation 的方式，而非直接改变 store.state.count，
   是因为我们想要更明确地追踪到状态的变化。这个简单的约定能够让你的意
   图更加明显，这样你在阅读代码的时候能更容易地解读应用内部的状态改变。
   此外，这样也让我们有机会去实现一些能记录每次状态改变，保存状态快照的
   调试工具。有了它，我们甚至可以实现如时间穿梭般的调试体验。

由于 store 中的状态是响应式的，在组件中调用 store 中的状态简单到仅需要
在计算属性中返回即可。触发变化也仅仅是在组件的 methods 中提交 mutation。
   -->
</body>
</html>