<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <anchored :level='level'>
      <p>Hello Vue!</p>
    </anchored>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
  <script type="text/template" id="anchored-heading-template">
    <h1 v-if="level===1">
      <slot></slot>
    </h1>
    <h2 v-else-if="level===2">
      <slot></slot>
    </h2>
    <h3 v-else-if="level===3">
      <slot></slot>
    </h3>
    <h4 v-else-if="level===4">
      <slot></slot>
    </h4>
    <h5 v-else-if="level===5">
      <slot></slot>
    </h5>
    <h6 v-else-if="level===6">
      <slot></slot>
    </h6>
  </script>
  <script>
    Vue.component('anchored', {
      template: '#anchored-heading-template',
      props: {
        level: {
          type: Number,
          default: 1,
          required: true
        }
      }
    })
  </script>
  <script>
    var vm = new Vue({
      el: '#app',
      data () {
        return {
          level: 2
        }
      }
    });
  </script>
</body>
</html>
