<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>render v-for</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <my-conn :v="num" :array="arr">
      <p slot="name1">张三</p>
      <p slot="name2">李四</p>
    </my-conn>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
  <script>
    Vue.component('myConn', {
      render: function (createElement) {
        var _this = this
        if (_this.v === 1) {
          return createElement('div',
            _this.array.map(function (item) {
              return createElement('li', {
                domProps: {
                  innerHTML: `component list is ${item}`
                }
              })
            })
          )
          // 只有map方法才能检测改变，其他的方法不能根据数据的改变能改变相应的状态
          // 下的例子中的array数组   依靠 apply的方法来实现的就不能够检测this.array 的变换来重新计算
          // return createElement('div',
          //   Array.apply(null, _this.array.map(function (item) {
          //     return createElement('li', {
          //       domProps: {
          //         innerHTML: 'item'
          //       }
          //     })
          //   }))
          // )
        } else {
          return createElement('div',
            [_this.$slots.name1, _this.$slots.name2]
          )
        }
      },
      props: {
        v: {
          type: Number,
          default: 0
        },
        array: {
          type: Array,
          default: function () {
            return [1, 2, 3, 4, 5, 6, 7, 8, 9]
          }
        }
      },
      created() {
        console.log(this.$slots);
      }
    });

    var vm = new Vue({
      el: '#app',
      data: {
        num: 1,
        arr: [1, 5, 17, 34, 17, 13, 'sss']
      }
    })
  </script>
</body>

</html>