<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <temp></temp>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
  <script>
    Vue.component('temp', {
      // render: function (createElement) {
      //   var myParagraphVNode = createElement('p', 'hi')
      //   return createElement('div', {
      //     attrs: {
      //       name: 'myparagraphVnode'
      //     }
      //   }, [
      //     // 错误-重复的 VNodes
      //     myParagraphVNode, myParagraphVNode
      //   ])
      // },

      render: function (createElement) {
        return createElement('div',{
        attrs: {
            name: 'myparagraphVnode'
          }
        },
          Array.apply(null, {
            length: 20
          }).map(function () {
            return createElement('p', {
              'class': 'tags'
            }, 'hi')
          })
        )
      }
    })

    var vm = new Vue({
      el: '#app'
    })
  </script>
</body>

</html>